@page "/error"

<PageTitle>Erro</PageTitle>

<div class="container text-center">
    <h1 class="display-4">Oops! Algo deu errado.</h1>
    <p class="lead">Desculpe-nos, ocorreu um erro inesperado.</p>
    <p class="lead">Por favor, tente novamente mais tarde.</p>
</div>

@code {

}
