@page "/"

<PageTitle>Unapp</PageTitle>

<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1 class="display-4">UNAPP</h1>
        <p class="lead">Bem-vindo à nossa incrível aplicação!</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ver Usuários</h5>
                    <p class="card-text">Veja o nosso diretório com os usuários do Unapp. Veja a lista completa.</p>
                    <a href="/users" class="btn btn-primary">Ver Usuários</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cadastro</h5>
                    <p class="card-text">Faça o seu cadastro na nossa aplicação e fique por dentro de nossos futuros updates.</p>
                    <a href="/users/create" class="btn btn-primary">Fazer Cadastro</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .jumbotron {
        background-color: #343a40;
        color: #ffffff;
        margin-bottom: 30px;
        padding: 40px;
    }

    .card {
        margin-bottom: 30px;
    }
</style>